{% extends "base.html" %}
{% block title %}Create Post{% endblock %}
{% block content %}
<div class="container">
    <h1>Create Post</h1>
    {{ flask_macro.render_flashed_messages() }}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control", id="title") }}
        </div>
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", id="content") }}
        </div>
        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</div>
{% endblock %}