{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="container">
    <h1>All Users</h1>
    <a href="{{ url_for('create_user') }}" class="btn btn-success">Create User</a>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ url_for('change_password', user_id=user.id) }}" class="btn btn-primary">Change Password</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
